[2018-05-10 15:39] nathanagood opened #4 "Error in Output"
I have two VS Code windows open. One of them seems to be working fine, but the second window has some errors in the console. I'm opening them up as two different issues just in case they aren't related--I hate conflating issues.

Output is:
[code]

I can't paste the content of the template here as it contains non-public content, but it does not have a Metadata section.

[2018-05-10 15:40] nathanagood opened #5 "JSON parsing error in Output window"
Following error in output window:

[code]

[2018-05-10 15:51] nathanagood commented on #4
Self-closing. I had an older version of `cfn-lint` installed and resolved the issue by shutting down VS Code, running the following commands, and starting VS Code back up:

[code]

Doing a `pip install --upgrade` may have worked but I didn't try it first.

[2018-05-10 15:51] #4 closed

[2018-05-10 15:51] nathanagood commented on #5
Closing. See resolution for #4 , which resolved this as well.

[2018-05-10 15:51] #5 closed

[2018-06-14 11:15] farski opened #8 "Breaks on complex multiline strings in YAML"
For YAML templates with inline Lambda function code (eg [this](https://github.com/PRX/Infrastructure/blob/master/etc/adzerk-poller.yml) or [this](https://github.com/PRX/Infrastructure/blob/master/etc/workable-poller.yml)), the extension breaks on certain strings, even when the linter has no issues on the command line.

For example, [this line](https://github.com/PRX/Infrastructure/blob/master/etc/

[2018-06-14 13:07] kddejong commented on #8
thanks @farski let me look at this and see what I can find.

[2018-06-14 14:12] kddejong commented on #8
I was able to replicate this error when using Python 2.7 for cfn-lint.  Fix above.  For Python 3 things seem to work without issue.

This was the error I saw using Python 2.7.
[code]

[2018-06-14 17:44] kddejong commented on #8
@farski can you confirm things are working with the newest release?  From what I can tell you must have been using Python 2 with Visual Studio which we have now fixed with the latest release of cfn-lint but I want to make sure I have that right.

[2018-06-15 15:03] farski commented on #8
I think I'm still seeing the problem. Full log dump [here](https://gist.github.com/farski/ae29e30829731f0eaba32461c9708a61).

[2018-06-15 15:14] kddejong commented on #8
ok.  I was able to replicate the issue (originally) in 2.7 but not in 3.6.  After the most recent fix for 0.2.2 of cfn-lint we should have had this fixed for both Python versions. I'll dig a little deeper and find a way to get this replicated.

[2018-06-15 15:41] farski commented on #8
If there's anything else I can do to help let me know. Python isn't my strongest, so for debugging environment-related stuff or the code itself I'd need some support, but I'm willing to help.

[2018-06-25 17:00] fatbasstard opened #9 "Improve error message when cfn-lint is not installed"
If cfn-lint itself is not installed, the plugin gives complex and weird error messaged (see also https://github.com/awslabs/cfn-python-lint/issues/161). Improve the error handling to give correct and clean feedback if cfn-lint is not installed

[2018-06-28 13:38] kddejong commented on #9
Published.

[2018-06-28 13:38] #9 closed

[2018-07-02 10:36] reidca opened #11 "YAML document causing errors in the output tab (seems to be assuming json?)"
Settings have been updated...
Settings: {"cfnLint":{"path":"cfn-lint","appendRules":[],"ignoreRules":[],"overrideSpecPath":""}}
Is CFN: true
running............. cfn-lint --format,json,--template,c:\source\aws\cloudformation\stacksets\staff-roles.yaml
child process exited with code 4 and signal null
[Error - 09:57:26] Request textDocument/completion failed.
  Message: Unhandled method textDocument

[2018-07-02 14:22] #11 closed

[2018-07-02 15:59] kddejong commented on #11
just release v0.1.2 should be available shortly.  Can you test it out?

[2018-07-22 22:36] kkuo opened #15 "usage question"
How do you make it start working? Opening a YAML file doesn't trigger auto linting and there are no entries in the command palette for this plugin.

[2018-07-23 07:39] cmmeyer commented on #15
Hi, @kkuo, the linter triggers of the Version string in your template. For YAML that would be:
`AWSTemplateFormatVersion: "2010-09-09"`

This was the best way we found to identify a CloudFormation template over a regular YAML file.  Linting is not real time -- you will need to save the document to trigger linting.

[2018-07-23 12:54] bwilder opened #16 "Missing resource name causes plugin to fail"
Hi,
While attempting to use cfn-python-lint (`cfn-lint 0.4.1`) with aws-cfn-lint-visual-studio-code (`vscode-cfn-lint 0.2.0`) I found the extension consistently crashing with my sample template:

YAML source:
[code]

Eventually I realized I didn't have a resource name and resolved the issue, however, it took several application restarts to sort it out. Any chance you could make the extension handl

[2018-07-23 18:43] kddejong commented on #16
Yea, that sucks.  I'm on it.

[2018-07-24 16:59] #16 closed

[2018-07-25 10:31] bwilder commented on #16
Thanks for the quick turnaround!

[2018-08-06 14:35] tasiogr commented on #15
I get this error:

`Unable to start cfn-lint (Error: spawn cfn-lint ENOENT). Is cfn-lint installed correctly?`

It is installed correctly and I can run it using the terminal.

[2018-08-13 20:07] edjackson-wf commented on #15
@cmmeyer This is true, however....

When `isValidating[uri]` is set to `true` in server.ts (line 114), and then the regex check for the `AWSTemplateVersion` line fails, `isValidating` never gets set back to false. It will display "Is CFN: false" in the server console, and subsequent runs will return immediately (line 111).

If the `AWSTemplateVersion` line is then added, the file still won't valid

[2018-08-13 20:11] kddejong commented on #15
Thanks.  I will take a look as this shouldn’t happen.

[2018-08-14 15:38] #15 closed

[2018-09-06 15:17] vazkarvishal opened #18 "Does not recognise new properties on AWS::EC2::VPCEndpoint"
the `AWS::EC2::VPCEndpoint` CF resource has 2 new properties:

1. VpcEndpointType
2. PrivateDnsEnabled

These don't seem to be playing ball with the template validator.

![image](https://user-images.githubusercontent.com/13076513/45167097-5c15cc80-b1f0-11e8-9b3f-b2ad3794be0f.png)

Can we update the plugin to include these please?

Thanks,
Vishal

[2018-09-13 16:45] panzupa opened #19 "How to use with *.template files"
How to use this plugin with `*.template` files which are written in YAML ?

[2018-09-13 20:14] kddejong commented on #19
The language mode also needs to be `YAML` or `JSON` depending on the format of your .template file.  It ends up being a two step process.  We use the `AWSTemplateFormatVersion: '2010-09-09'` to determine if the yaml or json file is a CloudFormation template.

[2018-10-03 15:05] acdha opened #20 "Failure to detect CloudFormation templates"
I have `cfn-lint` installed in my path but any time I'm working on a file I have no linter output and the output log shows only this message repeated for every save:

[code]

This happens whether I have it installed using Python 2 or 3, in the path or a separate virtualenv, or with the config cfn-lint path set or not. Is there a better way to get debug output to narrow down the cause?

[2018-10-03 18:44] cmmeyer commented on #20
We are using the CloudFormation version string within the template to determine if the file should be linted.  Your template must containt the following string for the linter to pick it up:

AWSTemplateFormatVersion: '2010-09-09'

Does that help?

[2018-10-03 19:17] acdha commented on #20
Ah, that was indeed it. Maybe this is just a combination of the error message say more about what it didn't find and perhaps having cfn-lint report that too?

[2018-10-04 13:35] skokovic opened #21 "Cannot start cfn-lint in VSCode"
Hello there!

I've installed cfn-lint with pip3:
`pip3 install cfn-lint --user`

When I run `cfn-lint --version`, I get:
cfn-lint 0.7.4
So the linter is working as expected in the terminal.

With vscode-fn-lint 0.2.2 version
But when I load a CloudFormation script into VSCode, I get the following error:
`Unable to start cfn-lint (Error: spawn cfn-lint ENOENT). Is cfn-lint installed correctly?`

An

[2018-10-04 13:48] kddejong commented on #21
By default it will look for cfn-lint in the PATHs available to VSCode.  When installing it into user space you will need to make sure VSCode has that path available or manually specify the full path with a setting that is made available.

By default it will be this:
[code]
An example of hardcoding the path:
[code]

[2018-10-05 13:05] kddejong commented on #21
@skokovic did that work?

[2018-10-05 13:07] kddejong commented on #20
yea this has been trick @acdha because we don't want to lint all yaml or json files that you may open so we use that string to determine if we should/can lint it.  I'm open to suggestions here.  Maybe we could log something that says we didn't lint the file because it was missing the version.

[2018-10-05 13:07] kddejong commented on #19
oh good.  Glad you got this working @panzupa

[2018-10-05 13:07] #19 closed

[2018-10-05 13:20] acdha commented on #20
I think that would make a lot of sense - you could probably add a couple more keys to look for but the simplest thing would be making it easier for someone like me to see that log message and know what to do to change it.

[2018-10-09 19:17] #20 closed

[2018-10-10 18:14] kddejong commented on #20
Released with v0.2.3.

[2018-10-10 23:45] mikepatrick opened #24 "Extension flags Serverless templates as Cloudformation templates"
First off, thanks for writing this and sharing it with us all.

Looking through the issue history, it looks like nailing down exactly which files to lint has been somewhat of a challenge.  I hate to throw another log on the fire, but here goes:

I use Serverless Framework for many of my AWS projects.  Since PR #22 this extension is flagging my Serverless templates as Cloudformation templates.

As

[2018-10-11 19:44] kddejong commented on #24
Sorry about that.  Working on something to not scan these templates automatically.  We get a lot of issues related to people not including the AWS Template Version which resulted in us trying to better detect a CloudFormation template.  We obviously missed on not flagging these as templates.  I'll work on a solution and try to get it released shortly.

[2018-10-12 12:36] kddejong commented on #24
This should be resolved with v0.2.4

[2018-10-12 12:36] #24 closed

[2018-10-12 17:30] mikepatrick commented on #24
Confirmed fixed for me.  Thanks for the rapid response @kddejong !

[2018-10-17 15:21] johnraws opened #26 "Short Form in YAML not Interpreted Properly"
When I open a YAML template file that contains short form functions, the following Problems are reported:

unknown tag <!Ref>
unknown tag <!FindInMap>
unknown tag <!Sub>

Example snippet below, causing the first Problem shown above.
[code]

I have ensured the newest version is installed via PIP:
[code]

Please let me know if there is any additional information that can be provided to assist with t

[2018-10-17 15:54] #21 closed

[2018-10-17 15:59] kddejong commented on #26
I believe these errors are given by a tool other than cfn-lint.  This template didn't provide me the listed errors until I installed the package `yaml support by redhat`  Those additional packages will need to be configured to support the shorthand functions made available in CloudFormation yaml.

[2018-10-17 17:35] johnraws commented on #26
Great catch! I removed that extension and the error has been removed from my Problems view. Closing the Issue.

[2018-10-17 17:35] #26 closed

[2018-10-29 12:21] bwilder opened #27 "cfnLint.path doesn't resolve ${workspaceFolder}"
Hi,
I was having a hard time getting this extension to work until I found https://github.com/awslabs/aws-cfn-lint-visual-studio-code/issues/21.

[code]

After doing a `which cfn-lint`, grabbing the results, and making that the value of `cfnLint.Path, things started working.

[code]

Looks like `${workspaceFolder}` isn't being resolved. Is this the expected behavior?

[2018-10-30 18:52] cmmeyer commented on #27
Hey there, thanks for raising this!

I don't think we currently process VS Code Predefined Variables in our settings, so your resolution is correct.  If it's alright with you, I'm going to treat this as an enhancement to add the ability to use VS Code predefined variables (as defined here: https://code.visualstudio.com/docs/editor/variables-reference) when defining linter settings.

[2018-10-31 12:03] bwilder commented on #27
Sure thing, thanks!

[2018-11-08 03:57] wanching opened #28 "Cannot work with cloudformation template"
I have several *.template file, and all file begin with `AWSTemplateFormatVersion: '2010-09-09'
` at first line, but I cannot get any lint on the file.

When I click other *.yml file, it will output `Don't believe this is a CloudFormation template.`, it correct, because it really not a cloudformation template, but when I click the cloudformation template *.template file, it doesn't have any output

[2018-11-08 13:39] kddejong commented on #28
We do look for yaml and json files. From there we try to determine if they are a CloudFormation template.

Let me test a few things here. I think I can give you a more definitive solution.

[2018-11-08 15:17] kddejong commented on #28
The quick fix on an individual file is to switch the language of the file.
https://code.visualstudio.com/docs/languages/overview#_changing-the-language-for-the-selected-file

You can more permanently make that change by following this.
https://code.visualstudio.com/docs/languages/overview#_can-i-map-additional-file-extensions-to-a-language

@cmmeyer Not sure how far down this we should go.  There

[2018-11-08 16:35] cmmeyer commented on #28
I certainly have `.template` files on my laptop as well, but I've always expected I would have to tell my IDE what the actual contents were (YAML/JSON).  CloudFormation isn't the only software that uses templates, and I'd hate to muck things up for folks who use ".template" to mean something else.

[2018-11-09 10:27] reidca opened #29 "Setup on Windows"
On a windows workstation with VSCode installed what are the dependencies for this?

Does cfn-lint have to be installed on Windows or can it be installed using PIP in the MINGW64 shell?

It would be useful to understand how this extension calls into cfn-lint.

[2018-11-26 19:42] JGjorgji opened #30 "This plugin bundles a vulnerable npm package!"
https://github.com/dominictarr/event-stream/issues/116

More concretely `flatmap-stream`, is a vulnerable version `1.1.0`. Please update or pull this extension!

[2018-11-26 22:48] kddejong commented on #30
thanks @JGjorgji  going to downgrade event-stream.  Looks like I have dependencies that aren't up dated yet.  This removes flatmap-stream completely.

[2018-11-27 14:17] #30 closed

[2018-11-27 15:15] sc-pulsion opened #32 "Extension Marked As Malicious"
Hi you have probably been notified, but your extension seemingly included the event-stream npm package that had security issues.

https://code.visualstudio.com/blogs/2018/11/26/event-stream

[2018-11-27 16:01] kddejong commented on #32
Yes it is updated.  0.4.0 is published that shouldn't include the bad version of event stream.  Back dated event-stream to 3.3.4  #31

[2018-11-27 16:02] kddejong commented on #32
Unfortunately they still have it marked.  I'm trying to figure out how to get that removed.

[2018-11-27 16:40] iloveicedgreentea commented on #32
VSMarketplace@microsoft.com from https://github.com/Microsoft/vscode/issues/33782

[2018-11-27 17:49] cmmeyer commented on #32
Thanks @iloveicedgreentea  -- we'll reach out to that email address!

[2018-11-27 18:20] benmontour-wf commented on #32
Thanks for the quick response to an unexpected issue!

[2018-11-28 13:48] kddejong commented on #32
Took a little bit but the VsCode team got it rescanned and re-enabled last night.  We are available again.

[2018-11-28 13:48] #32 closed

[2018-11-28 13:53] sc-pulsion commented on #32
Thanks for your quick help. Its a really helpful extension.

[2018-11-28 13:54] kddejong commented on #32
Thank you @sc-pulsion.  And I apologize for any inconvenience.

[2018-11-28 14:20] rjlohan commented on #28
Can we just expose the file mappings as a configuration option? Leave the defaults alone but allow overrides?

[2018-12-04 16:25] jfeyers opened #33 "Path to cfn-lint on Windows"
I'm getting the same error as mentioned here: [https://github.com/awslabs/aws-cfn-lint-visual-studio-code/issues/21#issue-366793312](https://github.com/awslabs/aws-cfn-lint-visual-studio-code/issues/21#issue-366793312), but I've tried changing the "Path to cfn-lint" setting to the path of my global install of cfn-lint (looks like C:\Users\\{username}\AppData\Roaming\npm\node_modules\cfn-lint). I c

[2018-12-10 17:47] cmmeyer commented on #33
Heya --

Soooooo, fun fact: There are TWO cfn-lint binaries.  Based on the path, it looks like you have Marty Sweet's linter, which was written in node.  This VS Code extension is designed to be used with AWS Labs linter, which was written in the Python.  You'll want to do a pip install of the AWS Labs' linter and then point the extension to that (I'm not sure if Marty's linter has an equivalent V

[2018-12-17 15:21] DrStrangepork opened #34 "Include rule IDs in title/description"
I have CF templates that use embedded parameters, so my templates indicate several problems which are not problems. I have no idea what rule to include in the ignore list, because there is no translation to description to rule ID. For example, I have about 30 errors of "Found an embedded parameter...", but that string shows up nowhere in the cfn-lint code, so I have no idea how to avoid reporting

[2018-12-17 15:56] kddejong commented on #34
Rule E1029 I believe is what you are looking for.  If possible I would like to understand what resource and property you are having this issue with... or a small sample of the code. If your template is correct I would like to fix the errors so others and you don’t have to disable the rule.

[2018-12-17 16:07] kddejong commented on #34
Also I will see what we can do about including the ID.  Thanks

[2018-12-18 04:59] #34 closed

[2018-12-21 15:30] kddejong commented on #29
so I went through this morning.  It has to be installed via pip.  I installed using python though (https://www.python.org/downloads/windows/) so it was integrated with my standard powershell and my path ended up having cfn-lint available so it just worked.

[2019-01-23 15:09] jasonwarta opened #37 "lint errors displaying in wrong file"
Linter errors are being displayed in the wrong file, for projects with multiple valid CloudFormation templates. This is specifically happening in a case where the templates with names other than `template.yml` are nested stacks, although this probably isn't a contributing factor.

In this particular example, the linter is griping about a differently named unused param on the same line in a differe

[2019-01-25 20:42] jasonwarta commented on #37
Not sure if it affects the PR against cfn-lint, but my `.cfnlintrc` looks like
[code]

The ignore works as desired, and the linter+extension recognize the other files.

[2019-02-12 04:17] kddejong commented on #27
This is the best I can do for now.  Looks like this is a common issue when using settings. https://github.com/Microsoft/vscode/issues/2809

[2019-03-06 03:07] alexjurkiewicz opened #43 "Detects serverless template as cfn template"
I created a new serverless.yml with this command: `npx sls create -t aws-nodejs -n my-service`, and cfn-lint is trying to lint it. Here's a minimal test case for a file that is detected as a valid file to lint:

[code]
It seems like the commented code is triggering the detection somehow.

[2019-03-06 22:26] cervantek opened #44 "Honor ignore rules in .cfnlintrc"
I see the plugin setting "cfnLint.ignoreRules" as a way of ignoring rules, and it works. Would it be possible that the plugin instead could be configured to honor the .cfnlintrc, where those ignore-rules are already defined for the cfn-lint command line utility? This would make it so users do not have to maintain their list of ignore rules in two places.

This would also enable per-repo overrides,

[2019-03-07 17:30] cmmeyer commented on #44
Heya @cervantek -- I just tested it myself and confirmed the linter honors the .cfnlintrc in the root of the project.  For instance, here is the .cfnlintrc I put in the root of my AWSCloudFormationTemplates/ directory:

[code]

Note that it needs to be in the root of the *project*, not just the repo.  Does that not work for you?

[2019-03-13 12:45] mariopoeta commented on #33
So i have installed CFN-linter through pip and i am using pycharm. Pycharm extension in windows ask me for exe or file to start it. Which file should i use? i tried main.py inside pip cnflinter folder and does not work

[2019-03-18 17:32] rasathus opened #45 "Incorrect handling of spaces in paths"
This plugin doesn't appear to correctly handle paths that include spaces on OsX.  Failing to properly escape or quote the path in calls to cfn-lint ...

[code]

Attempts to run the command generated result in the following output ...

[code]

[2019-03-27 18:03] waynefk commented on #21
Using this on Windows and getting the same error. The path where cfn-lint installed is actually "cfnlint". I hardcoded the path and it still didn't like it.

[2019-03-27 18:29] kddejong commented on #21
what version of `cfn-lint` are you using?  There was some changes that SAM put in that are better handled in the newest version of `cfn-lint` but I want to validate.

[2019-03-29 16:23] kddejong commented on #43
Oh shoot.  Sorry about that.  Seems like an easy fix.  I'll try to get that in shortly.

[2019-03-30 09:39] mraliagha opened #46 "Having issues with more complex templates (e.g. !Ref, FindInMap, !If )"
I have installed this extension on Visual Studio Code. Although it is installed properly, the plugin does not recognize more advanced templates. Is that correct or I am missing some part of the installation?

For example, every tag starts with "!" is unknown including the following tags:
!Ref
!FindInMap
!If

[2019-03-30 12:08] kddejong commented on #46
@mraliagha when cfn-lint provides errors it will do so by prefixing them with `cfn-lint`.  Can you provide the full error so I can validate its cfn-lint thats causing it.  Usually we see this issue when people are using the generic yaml plugin is as well as it doesn't know about the CloudFormation tags.  One thing you could do is configure that plugin to know what the CloudFormation Tags are.  In

[2019-03-30 14:51] cervantek commented on #44
I was trying to figure this out again by moving some files around, and discovered that once I removed the cfnLint.ignoreRules from my user-level settings.json, then the plugin began honoring the list of ignore_checks in the repo/folder-level .cfnlintrc. I really want the .cfnlintrc ones honored, and do not care as much about having user-level ignores, so my needs are met.

Just checking though...

[2019-04-04 20:33] anshul07 commented on #21
For the SAM templates, I get the following error in VScode -

[cfn-lint] E0001:Error transforming template: module 'samtranslator.parser.parser' has no attribute 'logging'

[2019-04-06 03:05] waynerobinson commented on #46
I've also just installed the package and seem to have similar issues.

A more complete example, which is providing a `bad indentation of mapping entry` error on the closing square-bracket after the `AvailabilityZone: !Select [0, !GetAZs ""]`.

This template deploys fine and I can't see why there would be an error.

[code]

My `settings.json`:

[code]

The version of `cfn-lint` is `0.18.1`.

When I

[2019-04-06 03:19] waynerobinson commented on #46
Replacing the

`AvailabilityZone: !Select [0, !GetAZs ""]`

with

[code]

Fixes the issue with the error being raised in the IDE, but both are valid syntaxes (and I would vastly prefer to use the shortened version).

[2019-04-06 03:38] waynerobinson commented on #46
OK, my fix so far after further research. I have adjusted my `yaml.customTags` config to specify if each tag's parameter is a scalar or a sequence (or in some case, like `!GetAtt` a definition for both).

I'm sure I'll probably have to make further changes to this over time, but it appears the value suggested for configuring CloudFormation plugins is incorrect.

Here is my current settings:

[code

[2019-04-06 12:29] kddejong commented on #46
Thanks @waynerobinson I'm actually going to update my settings to match this as well.  Since this is all related to this plugin https://github.com/redhat-developer/vscode-yaml are you or @mraliagha  ok with me closing this issue?

[2019-04-06 13:12] mraliagha commented on #46
Yes. Mine is fixed as well. Thank you.

[2019-04-06 13:18] kddejong commented on #46
Thanks.

[2019-04-06 13:18] #46 closed

[2019-04-18 00:58] kadrach opened #47 "stdio mode"
Please consider adding a --stdio input/output mode for this language server, so it can be used with other editors! :)

[2019-05-09 02:26] kddejong commented on #44
Sorry for the delay in response here.  We don't merge these items right now.  This plugin uses settings to feed to the command line of `cfn-lint`.  Command line arguments take ultimate precedence so your cfnlintrc gets ignored.

Interesting thought around merging those items together.  It may be a feature request for how cfn-lint handles this.

[2019-05-09 02:37] #33 closed

[2019-05-09 02:37] kddejong commented on #44
Going to close as it is working as expected.

[2019-05-09 02:37] #44 closed

[2019-05-09 02:58] kddejong commented on #45
Working on it.

[2019-06-15 12:52] kddejong commented on #45
Think I got this fixed.  Can you try version 0.7.0?

[2019-06-15 12:52] #45 closed

[2019-06-15 12:52] kddejong commented on #47
absolutely.   I can take a look into that.

[2019-06-15 12:52] kddejong commented on #43
I think we have this fixed in 0.7.0 now.

[2019-06-15 12:52] #43 closed

[2019-07-03 14:08] DecMcLaughlin opened #52 "Add support for node10.x"
currently the linter complains with:
"message": "[cfn-lint] E3030:You must specify a valid value for Runtime (nodejs10.x).\nValid values are ['dotnetcore1.0', 'dotnetcore2.0', 'dotnetcore2.1', 'go1.x', 'java8', 'nodejs', 'nodejs4.3-edge', 'nodejs4.3', 'nodejs6.10', 'nodejs8.10', 'provided', 'python2.7', 'python3.6', 'python3.7', 'ruby2.5']",

[2019-07-09 00:56] kddejong commented on #52
Do you know what version of cfn-lint you are using?  This should be covered with newer versions.

[2019-07-09 08:05] DecMcLaughlin commented on #52
[cid:image001.png@01D53635.704CDDF0]

Hoi Kevin
I’m using Version 0.7.0 which appears to be the latest available via VS Code.

Thanks
Declan

From: Kevin DeJong <notifications@github.com>
Reply-To: awslabs/aws-cfn-lint-visual-studio-code <reply@reply.github.com>
Date: Tuesday, 9 July 2019 at 01:56
To: awslabs/aws-cfn-lint-visual-studio-code <aws-cfn-lint-visual-studio-code@noreply.github.com>
Cc:

[2019-07-25 17:45] iDVB opened #53 "Get Linter to ignore JSON files"
Is there an easy way to get VSCode to ignore all JSON files for this linter? I want the default for all time to be NOT to care about JSON when looking to use this linter. We only every use YML.

[2019-07-27 07:59] kangastus commented on #47
This would also make it easier to run cfn-lint through Docker (no mounting required) and apparently allow linting without saving.

[2019-07-29 18:01] kddejong commented on #53
Let me see what I can do to help out with that.

[2019-07-29 18:03] kddejong commented on #52
@DecMcLaughlin That is the version of the plugin you are using.  https://marketplace.visualstudio.com/items?itemName=kddejong.vscode-cfn-lint

I'm wondering what version of cfn-lint you are using.  https://pypi.org/project/cfn-lint/
Unfortunately they are separate packages the Visual Studio Code plugin uses cfn-lint and they are managed separately so we can integrate into other IDEs and CI/CD pipe

[2019-08-18 01:39] #47 closed

[2019-08-24 05:11] PatMyron opened #58 "Templates must include AWSTemplateFormatVersion and lint only after saving"
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/format-version-structure.html

Think it'd make sense to pin this issue?

[2019-08-24 05:11] #58 closed

[2019-08-28 23:19] PatMyron opened #60 "Bundle latest cfn-lint"
I like that `cfnLint.path` lets you customize which version of `cfn-lint` the extension uses, but it might help those that haven't installed it if the extension bundled the latest version of `cfn-lint`

[2019-09-18 12:19] benkehoe opened #62 "Apply CloudFormation schema to YAML extension?"
[AWS has instructions](https://github.com/aws-cloudformation/aws-cloudformation-template-schema/blob/master/docs/vscode/instructions.md) for providing the CloudFormation schema to the YAML language server, which enables things like autocomplete. Could the cfn-lint extension automatically do that, if the user has the YAML extension installed as well?

[2019-10-31 12:58] #62 closed

[2019-10-31 13:29] sgtoj opened #66 "Latest Update Is Broken"
Latest Update (10/31/2019, 9:01:32 AM) now show 10s, if not 100s, of linter errors.

[code]

[2019-10-31 13:31] sgtoj commented on #66
I have update the `cfn-lint` pip package and schemas (`cfn-lint -u`).

[2019-10-31 13:34] kddejong commented on #66
Looking at it.  I believe its related to the YAML Schema stuff.  `"yaml.validate": false` in your settings will, I believe, fix it.

Going to work on a way to set that so it isn't enabled by default.

[2019-10-31 13:56] kddejong commented on #66
@sgtoj just published a patch can you install this new version and see if that helps.

[2019-10-31 14:03] sgtoj commented on #66
The patch and/or setting did resolve the issues. I will close this issue. I may provide additional feedback through another github issue.

[2019-10-31 14:03] #66 closed

[2019-10-31 14:05] kddejong commented on #66
That's fair.  Thanks for reporting the issue @sgtoj and let me know if you have any more concerns.

[2019-10-31 14:09] sgtoj commented on #66
I never said thank you....

Thank you for your quick response and resolution.

[2019-10-31 14:37] sgtoj opened #68 "Limit Linter to Specific Files or Patterns"
Can a setting be added to use cfn-lint extension to lint specific GLOB patterns? I would like to set `yaml.validate` VS Code setting to  `enable` for non-CloudFormation templates.

[2019-10-31 14:40] sgtoj opened #69 "Add Missing Custom YAML Tags"
The previous issue -- #66  -- was caused missing custom tags. The following value for `yaml.customTag` setting allows for `yaml.validate` to be `enable` for CloudFormation template. I will update this issue if I find others.

[code]

[2019-10-31 15:13] kddejong commented on #69
thanks @sgtoj .

[2019-10-31 15:14] kddejong commented on #68
I think the appropriate thing to do here, for now.  Is to allow a person to configure if the YAML completion is enabled or disabled.

I'm trying to figure out a clever way to enable/disable as needed but it may be messy.

[2019-11-01 03:11] kddejong commented on #69
Updated this in v0.10.2 which will be out very shortly.

[2019-11-01 03:11] #69 closed

[2019-11-01 03:14] kddejong commented on #69
@sgtoj I used your list instead of what is here https://github.com/redhat-developer/yaml-language-server/issues/77.  Your list seems complete and more valid.

[2019-11-11 14:37] coyoteecd commented on #68
It would be useful to exclude specific patterns as well. In my case, I use Serverless Framework to do deploys, and rely on this VSCode plugin + cfn-python-lint to do validation of the yml resources. This works reasonably well, except that the plugin tries to be smart and runs linting on the autogenerated .serverless/*.json files, which contains a json file that's not a CloudFormation template but

[2019-11-18 16:16] EslamElHusseiny commented on #21
Hi,
I have the error `[cfn-lint] Unable to start cfn-lint (Error: spawn /bin/sh ENOENT). Is cfn-lint installed correctly?`

I've changed the `cfnLint.path` to be `"cfnLint.path": "/usr/local/bin/cfn-lint"` but I'm still getting the same error.
[code]

[2019-11-19 14:46] tracphil commented on #69
Unless I am missing anything, this has not been resolved unless I am missing something in my settings.

My settings.json relevant parts:

[code]

With those settings, I am still getting (lots of others, this is an example):

`unknown tag: <!Sub>`

I am not sure whether others are seeing this or if I should open a new issue, so I thought I would mention it here first.

[2019-11-24 23:18] tracphil commented on #69
Updating for the fix that help me. I removed the Ansible extension and this extension started working as expected.

[2019-12-09 13:17] flatherskevin opened #72 "Add support for nodejs12.x"
AWS now supports nodejs12.x as a runtime, but linting is throwing an error that it is not supported.

[2019-12-09 13:21] kddejong commented on #72
You need to update your version of cfn-lint since we use that package to do the actual linting.
https://github.com/aws-cloudformation/cfn-python-lint#pip-install

Included as of version [v0.25.2](https://github.com/aws-cloudformation/cfn-python-lint/blob/master/CHANGELOG.md#0252)
Included with PR [1204](https://github.com/aws-cloudformation/cfn-python-lint/pull/1204)

[2019-12-09 14:50] kddejong opened #73 "Test version of cfn-lint. Offer command for upgrade."
Include a check on launch of the plugin that checks the version to let a person know they are out of date.  Plus an upgrade command to allow them to upgrade inside VS Code.

[2019-12-09 15:24] flatherskevin commented on #72
Thank you! This can be closed then

[2019-12-09 15:24] #72 closed

[2019-12-18 05:25] hidekuro opened #74 "Doesn't work on Windows 10 with some errors"
software versions:

- OS: windows 10

[code]

And I set `yaml.customTags` in project-local `.vscode/settings.json`.
[code]

But I got errors below. it seems to not work the cfn-lint and `yaml.customTags`.
![capture](https://user-images.githubusercontent.com/3986668/71057748-1a205800-21a1-11ea-8b32-c30aeb6bfb76.png)
![capture2](https://user-images.githubusercontent.com/3986668/71057928-8ac77480-21a

[2019-12-18 08:43] ustrahlendorf opened #75 "problem with extension v. 0.10.2; server crashes 5 times"
Hi there,

got the following message from cfn-lint for VS when working on a CF template in vs:
[code]
Any ideas?

[2019-12-18 12:33] z0ph commented on #11
Same issue here: `cfn-lint 0.26.1`

[code]

[2019-12-18 18:08] sviera91 commented on #75
Getting the same issue. Right now the cfn-lint extension is just not working. No errors are called out.

[2019-12-18 18:32] kddejong commented on #75
@sviera91 and @ustrahlendorf have you installed cfn-lint from pip?  https://pypi.org/project/cfn-lint/

There is a setting to configure the path to cfn-lint if its installed in a location that isn't included by your PATH environment variable.

[2019-12-18 19:34] ustrahlendorf commented on #75
Thanks @kddejong, problem fixed, cfn-lint had despaired because of some configuration changes around several python versions :-)
Done re-install through brew, works now for me.

[2019-12-18 19:40] kddejong commented on #75
good news.  Thanks @ustrahlendorf

[2019-12-18 21:15] sviera91 commented on #75
@kddejong  Yeah same here. I just switched laptops and while I installed the extension forgot to install the library through pip. My bad :P Thanks for the help!

[2020-02-07 14:31] iDVB commented on #53
@kddejong Any work on this?
Looks like there is a setting called `cfnLint.ignoreRules`
Any way that can be used?

[2020-02-28 22:07] #52 closed

[2020-02-29 18:34] PatMyron commented on #75
[bundling `cfn-lint` itself](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/issues/60) seems like it would help with these issues as well

[2020-02-29 18:34] #75 closed

[2020-03-24 05:10] miparnisari commented on #74
@hikeduro I can't reproduce this on my end:

[code]

Can you please try to reproduce again? If it fails, can you try updating `cfn-lint`?

[2020-03-24 05:26] miparnisari commented on #8
@farski @kddejong

I just tried to reproduce this on Windows with Python 2.7 & 3.6, `cfn-lint` 0.29.0 and [this](https://github.com/PRX/Infrastructure/blob/master/etc/workable-poller.yml) template. I got 0 errors.

[2020-03-24 11:24] farski commented on #8
@miparnisari That template also appears to be working fine for me now. No errors, and it does correctly catch issues if I introduce them, so the linter is working as expected.

I can't remember the last time I ran into this issue, so I'm thinking it's been resolved.

[2020-03-26 03:21] #8 closed

[2020-04-04 10:38] craighurley opened #90 "Is it possible to pass relative paths to cfn-lint?"
Plugin Version: 0.10.20
VS Code version: 1.43.2
OS: Darwin x64 19.4.0

Is it possible to make the cfn-lint plugin use relative paths from the project root rather than absolute paths?

The reason I ask is that I am trying to use `cfn-lint` in a docker container to avoid pip dependency conflicts I'm having.  Outside of VS Code, running `cfn-lint` in the container against templates works successfully

[2020-04-04 10:39] craighurley commented on #90
This could issue would also help in my case: https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/issues/60

[2020-04-05 01:37] #74 closed

[2020-04-22 14:11] riccardopedrielli opened #97 "Errors on yaml.validate: true"
### Environment:

- macOS
- cfn-lint: 0.29.5
- vs code: 1.44.2
- vscode-cfn-lint: 0.11.1
- vscode-yaml: 0.7.2
- no other yaml extension installed

### Problem

This extension is setting `yaml.validate` to `false` whenever it starts.
As I understand this is done because, with the default setting (`true`), a lot of false errors are shown.

Leaving out that's a bad practice to edit other extension's

[2020-04-22 14:35] kddejong commented on #97
Let me test a few things out.
Also note that the Readme needs to be updated to include the setting.
https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/master/package.json#L87-L91

The idea here is to draw visibility to issues with the yaml validation as we are mostly looking to use that extension for the autocomplete capabilities.  We tried to wrap the setting with our own

[2020-04-22 14:47] riccardopedrielli commented on #97
Another problem of writing `yaml.validate: false` into the settings.json of vs code is also that the validation is disabled for every other yaml file, be it a cfn o just a regular yaml.

[2020-04-27 18:39] miparnisari opened #99 "Function "isCloudFormation()" needs to be updated?"
The code says

https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/edd51fb86441a1c48d294c4b664189c6f4d11399/server/src/server.ts#L133

But the [docs](https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#resource-type-schema-properties
) say:

[2020-04-29 02:26] PatMyron commented on #99
[Yup, organization namespace can be anything now](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/pull/91)

[2020-05-26 01:40] miparnisari commented on #99
Also, should we not be checking for SAM templates as well? (i.e. `Transform: AWS::Serverless-2016-10-31`)?

[2020-05-26 02:58] PatMyron commented on #99
It wouldn't hurt to add, but [SAM templates](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html) should already be detected by the existing logic

[2020-05-28 05:08] sodaru-it commented on #68
+1

[2020-06-11 05:31] hoonoh opened #108 "AWS::RDS::DBProxy and AWS::RDS::DBProxyTargetGroup resolves to wrong type"
*cfn-lint version: (`cfn-lint --version`)* : 0.33.0

*Description of issue.*
1. since `AWS::RDS::DBProxy` and `AWS::RDS::DBProxyTargetGroup` are not included in the latest release, did update with `cfn-lint -u`.
2. both `AWS::RDS::DBProxy` and `AWS::RDS::DBProxyTargetGroup` are being resolved as `AWS::ACMPCA::Certificate`

Both `AWS::RDS::DBProxy` and `AWS::RDS::DBProxyTargetGroup` are listed in C

[2020-06-11 06:27] PatMyron commented on #108
[`AWS::RDS::DBProxy`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rds-dbproxy.html) and [`AWS::RDS::DBProxyTargetGroup`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rds-dbproxytargetgroup.html) were merged in [Template Schema 15.0.0](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/pull/107)
but haven't been relea

[2020-06-11 13:05] kddejong commented on #108
Published.  Should be available shortly.

[2020-06-11 13:05] #108 closed

[2020-06-11 19:20] miparnisari commented on #108
i'm also interested in this

[2020-06-13 00:28] miparnisari opened #109 "Update changelog"
We should update https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/master/CHANGELOG.md, because 1) it's visible [in the VS marketplace](https://marketplace.visualstudio.com/items/kddejong.vscode-cfn-lint/changelog), and 2) people like seeing what changed between versions (at least I do)

[2020-06-13 02:20] miparnisari commented on #29
Closing as this is explained [here](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code#requirements).

[2020-06-13 02:20] #29 closed

[2020-06-13 02:39] miparnisari opened #110 "Document release process"
![image](https://user-images.githubusercontent.com/5374887/84557976-30d4e100-ace4-11ea-9afe-6bc823665bb7.png)
![image](https://user-images.githubusercontent.com/5374887/84557982-39c5b280-ace4-11ea-98d5-ece1c714d0c5.png)
![image](https://user-images.githubusercontent.com/5374887/84557993-434f1a80-ace4-11ea-9b52-d05052c22ac8.png)
![image](https://user-images.githubusercontent.com/5374887/84557994-49

[2020-06-13 02:42] miparnisari commented on #110
Also, we shouldn't have releases if there weren't changes for customers.

![image](https://user-images.githubusercontent.com/5374887/84558052-b6589100-ace4-11ea-985d-021fcd0df615.png)

[2020-06-13 12:43] kddejong commented on #110
Agreed. Usually it’s because of an issue during the publish.  The publish command tags the repo, creates a commit, and changes a file. It does this first but if a later step fails it doesn’t undo it.

[2020-06-14 05:18] miparnisari commented on #60
https://stackoverflow.com/a/106730/1623249

[2020-06-14 06:44] PatMyron commented on #90
Sorry about the delayed response. Not sure if this fits your use-case, but figured I'd mention the [online demo](https://github.com/PatMyron/cfn-lint-online/) pre-configures the environment with dependencies and could be a potential alternative without installation problems

[2020-06-28 21:38] PatMyron commented on #53
merging into the more general issue: https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/issues/68

[2020-06-28 21:38] #53 closed

[2020-07-03 20:13] br3ndonland opened #113 "Include VSIX with releases"
For flexible installation and testing of pre-releases, it would be helpful to include the [packaged VSIX extension files](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#packaging-extensions) with each release, as they do in [aws-toolkit-vscode](https://github.com/aws/aws-toolkit-vscode/releases).

[2020-07-03 20:58] PatMyron commented on #113
[`Download Extension` on the right panel in the Visual Studio Code marketplace](https://marketplace.visualstudio.com/items?itemName=kddejong.vscode-cfn-lint) should have the latest `.vsix`

[Most of the recent releases have just been getting recently released AWS CloudFormation types into the Template Schema for autocompletion and documentation links](https://github.com/aws-cloudformation/aws-cfn-

[2020-07-03 21:47] br3ndonland commented on #113
that works for me, thanks for clarifying

[2020-07-03 21:47] #113 closed

[2020-07-27 12:15] polovi opened #117 "Enable in extension settings disable pydot"

[2020-07-27 18:01] PatMyron commented on #117
@polovi can you expand in more detail?

[2020-07-30 18:07] polovi commented on #117
Seems that was some problem with VScode itself. He repeatedly trying to use pydot and show alert message that its not installed. It could be closed.

[2020-07-30 18:07] #117 closed

[2020-07-30 18:25] PatMyron commented on #117
This new [template resource dependency graph preview](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/pull/106) feature will try to use [`pydot`](https://pypi.org/project/pydot/) if the graph preview button in the top right corner is toggled on, but [`pydot`](https://pypi.org/project/pydot/) does still need to be installed separately from the [extension](https://marketplace.v

[2020-08-11 15:59] xwizzell opened #120 "IAM Role Tags"
Hello,

When adding the Tags property to an IAM Role I get the following error. However, the template is valid and deploys just fine.

[cfn-lint] E3002: Invalid Property Resources/ExecutionRole/Properties/Tags

Tags:
        - Key: us-regions
          Value: True

[2020-08-11 16:56] PatMyron commented on #120
[`AWS::IAM::Role.Tags`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html#cfn-iam-role-tags) support was added last year:
https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/19
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/ReleaseHistory.html

[Since the Linter itself is still separate from the Visual Studio exte

[2020-08-11 16:56] #120 closed

[2020-08-17 22:27] PatMyron commented on #75
@DScheglov is this [the issue you're running into](https://marketplace.visualstudio.com/items?itemName=kddejong.vscode-cfn-lint&ssr=false#review-details)? Does [installing `cfn-lint`](https://github.com/aws-cloudformation/cfn-python-lint/#pip) and making sure that executable is in your [`PATH`](https://en.wikipedia.org/wiki/PATH_(variable)) solve your issue?

[2020-09-19 08:01] Papina opened #127 "AWS::EC2::FlowLog shows error when adding the Tags item"
adding this code shows the Tags Property as error:

CloudFormation deploys the template fine with the expected tags

[code]

[code]

[2020-09-19 08:28] PatMyron commented on #127
Upgrading cfn-lint should fix this:
`pip3 install cfn-lint --upgrade`

[2020-09-19 08:28] #127 closed

[2020-09-29 03:06] PatMyron commented on #97
relevant code:
https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/089b197e2c7df4ec26d35c23ebb77383c724a86e/client/src/extension.ts#L188-L209

[2020-09-29 17:42] danbanecker opened #130 "Add java8.al2 as a valid AWS::Serverless::Function Runtime"
Source with the new option java8.al2
https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html
and
https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-resource-function.html#sam-function-runtime
and
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-runtime

[2020-09-29 17:50] PatMyron commented on #130
[`java8.al2` support was added in August](https://github.com/aws-cloudformation/cfn-python-lint/pull/1651)

[Since the Linter itself is still separate from the Visual Studio extension](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/issues/60), please make sure you are updating the [Linter](https://github.com/aws-cloudformation/cfn-python-lint/#install) itself separately with

[2020-09-29 17:50] #130 closed

[2020-09-29 17:56] danbanecker commented on #130
Thanks!

[2020-10-19 20:52] DrStrangepork opened #134 "how to execute linting?"
I've installed the latest version of this plugin, and I see nothing at all different about VSCode using CFN templates. I see the `cfnLint.*` options in my Settings but that's it. I see no new buttons, menus, menu options, linting, formatting, etc. When does linting happen? On save?

I can run a locally-installed version of `cfn-lint` (`brew install cfn-lint`), and if I run that manually, it shows

[2020-10-19 21:13] PatMyron commented on #134
Should be. Something to keep in mind is that [it's trying to determine if each file is a CloudFormation template](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/issues/99). Should see one of these messages in the `Output` tab for `.json`/`.yml`/`.yaml` files at least:

https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/a1d719d49eb67b048f0775d4b4f53424

[2020-10-20 13:44] DrStrangepork commented on #134
In the Output tab, after selecting "CloudFormation linter Language Server", I see this:

    Settings have been updated...
    Settings: {"cfnLint":{"enableAutocomplete":true,"validateUsingJsonSchema":true,"path":"/Users/n0304144/.pyenv/shims/cfn-lint","appendRules":[],"ignoreRules":["E1029","E2015","E3008","E3012","W1019","W2506","W2507","W3005"],"overrideSpecPath":""}}
    Determined this file i

[2020-10-20 13:44] #134 closed

[2020-10-30 23:00] mrpadigala commented on #21
Can someone help how to hardcode the path
"cfnLint.path": "/Users/userid/Library/Python/3.6/bin/cfn-lint"

[2021-01-02 15:33] klausbadelt opened #146 "Autocomplete incorrectly shows in non-templates"
CloudFormation format detection doesn't seem to work for Autocomplete suggestions. They show in all YAML files, not just CloudFormation YAML templates. This seems separate from the linter, which correctly doesn't run on non-templates.

Maybe there's a configuration option I'm missing?

Example from an OpenAPI YAML file:
<img width="480" alt="Screen Shot 2021-01-02 at 4 25 54 PM" src="https://user-

[2021-01-02 16:41] klausbadelt commented on #146
It seems this issue is related to a different extension. Duh, and sorry!

[2021-01-02 16:41] #146 closed

[2021-01-08 20:29] gvasquez95 opened #148 "[cfn-lint] E3002: Invalid Property Resources/ECSService/Properties/DeploymentConfiguration/DeploymentCircuitBreaker"
Seems like the current version of the linter does not yet support this new property for an ECS service

[2021-01-08 20:35] kddejong commented on #148
This should be in the last few releases of [cfn-lint](https://github.com/aws-cloudformation/cfn-python-lint/releases/tag/v0.44.3).  What version are you using?

[2021-01-09 13:03] gvasquez95 commented on #148
v0.15.6 of this plugin according to VSCode's UI, but it makes me wonder how to know which version of `cfn-lin`t do I have installed and how to upgrade it.

[2021-01-09 13:04] gvasquez95 commented on #148
duh....pretty easy to find: `cfn-lint 0.40.0`

I'll try upgrading

[2021-01-09 13:40] gvasquez95 commented on #148
Found out the issue! `cfn-lint` was installed with `brew` in my mac, so upgrading via `pip` didn't work, and I even had to add extra Xcode tools because Python also needed a uppgrade. Now it's been upgraded to `0.44.2`, and the issue is gone. Thanks a lot!

[2021-01-09 19:46] #148 closed

[2021-02-09 11:03] IJsbert opened #153 "Parameter limit changed to 200"
The limit for use of parameters is changed to 200
[https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html](link)

Version 0.15.6 shows a limit of 60, see message :
[cfn-lint] E2010: The number of Parameters (62) exceeds the limit (60)

[2021-02-09 18:49] PatMyron commented on #153
https://github.com/aws-cloudformation/cfn-python-lint/pull/1747

[Since the Linter itself is still separate from the Visual Studio extension](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/issues/60), please make sure you are updating the [Linter](https://github.com/aws-cloudformation/cfn-python-lint/#install) itself separately with:
`pip3 install cfn-lint --upgrade`

[2021-02-09 18:49] #153 closed

[2021-03-02 09:51] svrx opened #158 "YAML Anchors and References Break Schema Validation and Suggestions"
## Describe the bug
When user anchors or references in CloudFormation YAML files, schemas stops working when anchors/references are used.

Originally chased with `redhat.vscode-yaml` in https://github.com/redhat-developer/vscode-yaml/issues/425, but became clear the issue was being caused by this extension.

Since CloudFormation supports anchors and references through the `aws cloudformation packa

[2021-03-04 04:12] felixtheant opened #159 "SyntaxError: Unexpected end of JSON input"
Recently upgraded to the latest and CFN-Lint is reporting the following errors on this portion of my yaml template:
AWSTemplateFormatVersion: '2010-09-09'

I've tried mapping the file extensions to a language but that's not worked. Also, i've tried the following commands:
 - Reinstall : pip uninstall cfn-lint and then pip install cfn-lint
 - Downgrading: pip install --upgrade --force-reinstall cfn

[2021-03-04 16:27] kddejong commented on #159
Errors like this will return as line 1 column 1 but the error likely didn't actually happen there.  Looking at the stack trace it looks like an error is returning something other than a match.

Can you do cfn-lint from the cli against the same template and send me the results.

[2021-03-04 16:32] kddejong commented on #158
having troubles replicating the issue going to have to do some more work to dig deeper on this one.

[2021-03-04 16:40] kddejong commented on #158
I was able to replicate the only issue I have is that CloudFormation yaml doesn't support aliasing.

[2021-03-04 19:04] PatMyron commented on #159
Could you share the template as well?

[2021-03-05 00:01] felixtheant commented on #159
I used the cli command against the template and it returned nothing, I then checked VS code and the problem is gone. Nothing changed overnight so it looks to have fixed itself.

Thanks for your time.

[2021-03-05 00:01] #159 closed

[2021-03-05 00:25] PatMyron commented on #159
[Visual Studio Code February 2021 (version 1.54)](https://code.visualstudio.com/updates/v1_54) was [released today](https://github.com/microsoft/vscode/releases/tag/1.54.0), wonder if that's related

Anyway, glad it's working now, thanks for updating

[2021-03-05 06:49] felixtheant commented on #159
@PatMyron, I have that update pending a restart so I don't think it's related and thanks for your help.

[2021-03-05 17:28] svrx commented on #158
Directly, indeed it doesn't!
Although there are workarounds to make it work through pre-processing before usage.
Such as described here at https://github.com/aws/serverless-application-model/issues/228, through `aws cloudformation package` or even just through simple parse and render script.

Now I understand your question, as it isn't directly accepted by the API. Maybe a warning should be genera

[2021-03-09 23:19] polarizeme commented on #21
In VSCode, go into the extensions sidebar, click the settings gear on the `CloudFormation Linter` extension, select extension settings, then define the path in the settings file or the applicable settings field in the GUI. Hope this helps!

[2021-03-11 01:54] Rob-El opened #161 "Pydot graph render cuts off right hand side of image"
When I use the preview feature in VSCode for CloudFormation YAML files, the right side sometimes gets cut off.

![cfn-lint-render-issue-vscode](https://user-images.githubusercontent.com/58966432/110722751-b7f9ab80-81c7-11eb-90ab-e8995b386119.png)

VSCode - 1.54.1, Windows 10 64-bit, 20H2
Extension - kddejong.vscode-cfn-lint v0.16.1
cfn-lint-0.47.0
pydot-1.4.2

If I use a 3rd-party VSCode extension

[2021-03-11 02:27] PatMyron commented on #161
I think this will initially depend on the relative dimensions of the graph and your editor:
https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/9a4f17e2868a5cb264dcd4c83f6980efad768e40/client/src/extension.ts#L180-L181

but you **should be able to drag and zoom around** as shown in this comment:
https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/pull/106#i

[2021-03-17 20:24] #161 closed

[2021-03-17 21:13] Rob-El commented on #161
Sorry for not responding earlier, didn't see the initial reply.

So I fiddled around, and I see that I can use the scroll on my mouse for zooming to see the whole graph.  It works, but it's very dependent on mouse position.  Very quirky, easy to loose the graph completely off-screen (zoom out/in a few times anywhere but the graph, move the mouse around a bit each time).  Dragging also works, would

[2021-03-23 14:22] ccruzado opened #162 "False alert in AWS::EC2::LaunchTemplate"
When I created a LaunchTemplate I saw and error in TagSpecifications with the Cloudformation Linter, but when I run the template in cloudformation works fine
[code]

[2021-03-23 15:19] kddejong commented on #162
What version of cfn-lint are you using and what error are you getting?

This template is not giving me any errors.  The formatting is a little lost in yours so not sure if I have it set correctly.
[code]

[2021-03-23 21:58] #110 closed

[2021-03-23 22:06] PatMyron commented on #109
tracking in https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/pull/111

[2021-03-23 22:06] #109 closed

[2021-04-06 03:35] #162 closed

[2021-05-07 14:08] gadavis2 opened #178 "Please add support for nodejs14.x to Lambda functions"
I am receiving the following notification whenever I specify nodejs14.x for my Lambda functions:

[cfn-lint] E3030: You must specify a valid value for Runtime (nodejs14.x).
Valid values are ["dotnetcore1.0", "dotnetcore2.0", "dotnetcore2.1", "dotnetcore3.1", "go1.x", "java11", "java8", "java8.al2", "nodejs", "nodejs10.x", "nodejs12.x", "nodejs4.3", "nodejs4.3-edge", "nodejs6.10", "nodejs8.10", "pr

[2021-05-07 14:54] kddejong commented on #178
What version of `cfn-lint` are you running?

You can try running `cfn-lint --update-specs` but depending on what version you have that may not correct issue.  This value is available in newer versions of https://github.com/aws-cloudformation/cfn-python-lint/ so you will need to upgrade your `cfn-lint` package to get rid of this error.

[2021-05-07 17:51] PatMyron commented on #178
`pip3 install cfn-lint --upgrade`

[2021-05-07 17:51] #178 closed

[2021-05-19 05:21] jangroth opened #181 "How to disable template graph?"
... I get this as a default whenever I open a CFN file.

I don't need to/want to see the graph for every CFN file I open. Also, the `.dot` files make an unwanted appearance in my git index.

I couldn't find a way to disable the functionality...!? 🤔

[2021-05-19 15:28] PatMyron commented on #181
From my understanding of https://github.com/aws-cloudformation/cfn-lint-visual-studio-code/pull/106, it should only create `.dot` files when the graph preview pane is opened, and it should delete them when the graph preview pane is closed:

![image](https://user-images.githubusercontent.com/5374887/82874993-a7539f80-9eeb-11ea-888e-ea4cf006ecc2.png)

https://github.com/aws-cloudformation/cfn-lint-v

[2021-05-19 19:58] #181 closed

[2021-05-22 21:06] r0zar commented on #68
Just ran into this issue today as well working with `serverless-state.json` files

[2021-06-07 11:37] AditModi opened #182 "cfn-lint doesn't work on my vscode environment"
This may be due to mistakes in my environment.

I did pip install cfn-lint.

installed cloudformation lint extension.

but it doesn't seem to work for me.

any suggestions?

[2021-06-07 15:00] PatMyron commented on #182
Is `cfn-lint` in your [`PATH`](https://en.m.wikipedia.org/wiki/PATH_(variable))?

[2021-06-08 03:05] AditModi commented on #182
Environment/OS: Windows

`
cfn-lint
`
works on cmd but not on vscode terminal.

what should I be changing ?

[2021-06-08 03:11] PatMyron commented on #182
It will also only invoke `cfn-lint` on `.json`/`.yaml` files with either [`AWSTemplateFormatVersion`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/format-version-structure.html) or [`(AWS|Alexa|Custom)::` resource types](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html):
https://github.com/aws-cloudformation/cfn-lint-visual-studio

[2021-06-08 09:39] rathgaurav commented on #117
I have cfn-lint and pydot installed. Yet keep getting error - [cfn-lint] 2021-06-08 13:55:44,271 - cfnlint.template - ERROR - Could not write the graph in DOT format. Please install either `pygraphviz` or `pydot` modules.

I only get this error in VS Code.

I am able to generate the .DOT file upon running the cfn-lint command with -g option from terminal.

Issue with VS code ?

[2021-06-08 11:40] AditModi commented on #182
For anyone looking for solution to similar problem.
cfn-lint was not working because I had not correctly set up my vscode path.
Now it is working.

[2021-06-08 11:40] #182 closed

[2021-06-21 09:36] dgard1981 opened #189 "VS Code extension not starting"
Perhaps I'm missing something here, but the VS Code extension appears to not work at all?

I have `cfn-lint` installed and I can use the CLI as expected -

    dgard@THH-TPI6674:~$ cfn-lint --version
    cfn-lint 0.51.0

Initially when I start VS Code there is no output for the extension, but after I try to run the 'Preview CloudFormation as a graph' command I see the following output for 'CloudFo

[2021-06-21 21:47] PatMyron commented on #189
What extension version? (latest is 0.19.0)

Also could you try re-installing the extension / restarting just to rule that out?

[2021-06-22 08:15] dgard1981 commented on #189
@PatMyron - I have version v0.19.0 of the extension. I have tried removing the extension, restarting, installing it, and then restarting again, but the same behaviour persists.

I also noticed that on subsequent attempts to run 'Preview CloudFormation as a graph' the following error is output -

    preview requested: file:///home/dgard/cluster.cfn.yaml
    [Error - 9:10:04 AM] Notification handle

[2021-07-12 21:04] PatMyron commented on #189
cc @justinmk3 @bryceitoc9 @JadenSimon @gsweetwood from https://github.com/aws/aws-toolkit-vscode/graphs/contributors for awareness

[2021-07-12 21:14] PatMyron commented on #189
@dgard1981 do you have any other extensions installed btw? Want to double check if there's any other extension that could be causing that issue

[2021-07-12 23:40] JadenSimon commented on #189
The AWS Toolkit does have different language servers for YAML files, but none are called 'CloudFormation YAML' so I'm not sure where that is coming from.

[2021-07-12 23:42] bryceitoc9 commented on #189
This comes from the [keyboardDrummer.vscode-cloudformation](https://marketplace.visualstudio.com/items?itemName=keyboardDrummer.vscode-cloudformation), which appears to no longer exist on the marketplace (see: https://github.com/keyboardDrummer/cloudformation-ide-tooling/blob/master/vscode-extension/package.json#L48 )

[2021-07-13 08:18] dgard1981 commented on #189
@JadenSimon - Perhaps that language is baked in to VS Code these days, as you a right, it is not actually part of the AWS Toolkit extension.

So the issue appears to be that `cfn-lint` only works with the YAML language, and as soon as the language is switched to CloudFormation YAML (which happens automatically for files of type *.cfn.yaml), it stops working.

[2021-07-13 16:16] JadenSimon commented on #189
@dgard1981 Did you see @bryceitoc9's comment? Perhaps you have that extension 'installed' but maybe VS Code doesn't recognize it? In any case you should be able to manually override the auto-detection by adding this to your `settings.json`:
[code]
This should stop the rogue extension from changing the language mode.

[2021-08-02 09:40] Thejas007 opened #195 ".cfnlintrc.yaml configuration is considering for linting"
To ignore few rules I have added the .cfnlintrc.yaml in the folder.

.cfnlintrc.yaml
File contents as below.

ignore_checks:
  - E7003

But the extension is not automatically considering the configuration for linting.  Is there any issue with the configuration file?
 or the .cfnlintrc.yaml is not supported with vs-code extension?

[2021-08-13 14:54] R00T88 opened #197 "E2503 Attributes ElasticLoadBalancingV2::LoadBalancer"
cfn-lint version: v0.20.0 (used with VsCode)

Description of issue:

I'm setting attribute for AWS::ElasticLoadBalancingV2::LoadBalancer that it's an application load balancer but i receive this error:

[cfn-lint] E2503: Attribute "routing.http.xff_client_port.enabled" not allowed for load balancers with type "application\

But as per aws documentation this settings can be enabled only on applicat

[2021-08-13 15:27] PatMyron commented on #197
Tracking in https://github.com/aws-cloudformation/cfn-lint/issues/2100

[2021-09-03 19:28] b3cft opened #198 "Scans all yaml files with cfn-lint at startup."
Issue Type: <b>Bug</b>

I have a couple of hundred cloudformation templates and serverless templates in my default workspace.

Every time I start or reload vscode it scans all the yaml files with cfn-lint.

It pushes to load average up to approx 200, until the WSL stops responding and disconnects.
Then reconnecting it does it again. Rinse, repeat.

I've had to start running
[code]
 multiple times

[2021-09-08 15:14] kddejong commented on #198
The default configuration, if the VS Code docs are correct, is that it will only scan on files being open.

Do you have a .cfnlintrc file?

[2021-09-21 15:05] ysfk commented on #21
Better still just add the cfn-lint.exe directory to PATH variable in environment variables. (C:\Users\<userid>\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\Scripts\)

[2021-09-28 06:12] PatMyron opened #199 "Autocompletion / links on hover for Registry types"
Could ideally re-use schemas already passed in for linting itself:
https://github.com/aws-cloudformation/cfn-lint/pull/1732

---

[`schema/all-spec.json`](https://github.com/aws-cloudformation/cfn-lint-visual-studio-code/blob/master/schema/all-spec.json) just needs another `definition` per schema:
[code]
<details><summary>attributes snippet:</summary>

[code]
</details>

and `resources` [`patternP

[2021-09-28 19:24] PatMyron commented on #199
debating JSON patch for the implementation:
[code]

[2021-10-13 02:50] angaaron opened #202 "Marketplace version is behind"
Marketplace version is indicating 0.20.0, can we please add a new release of 0.20.1

[2021-10-13 03:43] PatMyron commented on #202
looks like publishing timed out for some reason and needs to be retried:
https://github.com/aws-cloudformation/cfn-lint-visual-studio-code/runs/3130076798?check_suite_focus=true

[2021-11-11 00:19] sebastian-fredriksson-bernholtz commented on #158
Maybe this extension could catch the errors and handle them in some way instead of passing them on to the vscode-yaml extension? Or replace the node-yaml-parser? I might have a go at a PR, but not making any promises.

Can you set this extension to only run on specified yaml files?

=== Background ===

I'm having the same problem. However, this also happens in non-cloudformation (bitbucket pipelin

[2021-11-11 01:10] PatMyron commented on #158
@sebastian-fredriksson-bernholtz could you share your bitbucket pipeline YAML file? Wondering if it's affected by this PR that recognized more CloudFormation templates: https://github.com/aws-cloudformation/cfn-lint-visual-studio-code/pull/201

[2021-11-11 15:09] sebastian-fredriksson-bernholtz commented on #158
It seems like the main issue impacting me is that Cloudformation Linter causes vscode-yaml validation to be turned off. Not sure if the error indicated by the error messages mentioned in the cause of my problem.

=== More information ===

@PatMyron You can find the file attached. However, after looking at that PR, I checked the output and found that it detects that it isn't a Cloudformation file.

[2022-01-12 11:07] felipe1982 opened #211 "/bin/sh: cfn-lint: command not found when installed in virtual environment virtualenv"
[code]
I have cfn-lint installed in a virtual environment `~/.venv` using `python -m venv ~/.venv` and then `pip install --upgrade cfn-lint`.

I have selected my .venv/bin/python to be my default interpreter

I am getting the following error when viewed in the **Output** window at the bottom of vscode. I have latest stable vscode, with latest stable version of cfn-lint, with latest stable version

[2022-01-24 23:16] ralish opened #213 "More intelligent handling of yaml.customTags configuration"
The extension's preferred `yaml.customTags` configuration is unconditionally added to the user's global VS Code settings if the `yaml.customTags` setting isn't already present with the precise configuration the extension expects. This has several problems:

1. The setting may already be defined at a different scope (e.g. in a workspace configuration). If present in a workspace, it does appear to b

[2022-01-24 23:50] ralish opened #214 "More intelligent handling of yaml.validateUsingJsonSchema configuration"
The `cfnLint.validateUsingJsonSchema` setting is disabled by default (`false`). If the default is used, either by not defining the setting in the VS Code configuration or explicitly setting it to `false`, then on the extension being activated the `yaml.validate` setting will be set to `false` in the user's VS Code global configuration. This has several problems:

1. Setting `yaml.validate` to `fal

[2022-01-25 16:35] #197 closed

[2022-01-28 07:09] felipe1982 commented on #211
I have since moved to using `pipenv` for my virtual environments, and I get exactly the same problem. My co-worker, who was just hired 2 weeks ago, with fresh install of WSL2 has exactly the same problem.

[2022-01-28 23:18] felipe1982 commented on #211
I'll give it a try. Thank you. Would you happen to know what is the cause? A recent code change, or vscode change?

[2022-02-07 05:19] felipe1982 commented on #211
while setting the path in vscode settings _does_ work, I feel that that shouldn't be the solution. `pipenv` and virtual environments are supported by dozens of other extensions, without having to set the path in each of them.  Is there anything else can I can provide to help solve this particular problem?

[2022-02-10 16:15] PatMyron commented on #21
@ystoneman wonder if expanding `%USERPROFILE%` might help

[2022-02-10 16:47] ystoneman commented on #21
thanks @PatMyron -- I did try that as well. By the way, I'm using Python 3.7 here.

[2022-03-09 01:15] ErikOAWS opened #216 "Using Remote SSH extension (ms-vscode-remote): [cfn-lint] Unable to start cfn-lint (Error: spawn /bin/sh ENOENT). Is cfn-lint installed correctly?"
#### version & path
While connected to remote SSH host:

[code]

#### vscode general: settings.json

With vscode-fn-lint 0.2.2 version
But when I load a CloudFormation script into VSCode, I get the following error:
`[cfn-lint] Unable to start cfn-lint (Error: spawn /bin/sh ENOENT). Is cfn-lint installed correctly?`

#### vscode extension: @ext:ms-vscode-remote.remote-ssh,ms-vscode-remote.remote-ss

[2022-03-11 17:32] bearrito commented on #189
I ran into this issue with the latest versions, I can confirm that the @JadenSimon's fix/workaround was effective.

[2022-03-14 14:26] wayne-folkes commented on #198
I am running into this issue as well and dont have a cfnlintrc either. Is there some way to only limit the behavior of this plugin to only evaluate lute the open file?

[2022-04-11 01:55] Grunet opened #219 "Gitpod/OpenVSX Support?"
Just learned that only extensions published to the [OpenVSX](https://open-vsx.org/) registry will work on[ Gitpod](https://gitpod.io), and was curious if the maintainers of this repo would be interested in publishing there as well.

The steps for doing so are listed [here](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions). 1-4 have to do with setting up an account and generating a tok

[2022-04-11 16:12] kddejong commented on #219
I would be interested in doing this.  Let me see what I can do.

[2022-05-27 03:42] andyvans opened #222 "A memory leak in Python when opening the Git Diff view"
If you make changes to a CF template then view differences in VS code via the git diff view then a memory leak occurs.

![image](https://user-images.githubusercontent.com/1904424/170624610-5e030b4f-a06b-4da5-9d19-4f848653be15.png)

Version: 1.67.2 (system setup)
Commit: c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5
Date: 2022-05-17T18:15:52.058Z
Electron: 17.4.1
Chromium: 98.0.4758.141
Node.js: 16.13.0

[2022-06-02 15:30] kddejong opened #224 "Change publisher to not be me"
I am debating changing the publisher to something that isn't tied directly to me.  This will cause a little issues as people will have to move.  We can provide some transition items to make it easier.

This could be pre work to #219

[2022-06-03 14:44] Ohems opened #225 "Add parameters as nodes to the visual graph"
I'm working with multiple templates which import numerous [template parameters](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/parameters-section-structure.html). Currently the visual graph produced is quite flat for most templates since their dependencies come from outside the template through the parameters. The visual would therefore provide a lot more usable information if the

[2022-07-06 14:47] motdde commented on #97
Hello @kddejong and @PatMyron,

Have you been able to find a solution to this?

I am new to cloud formation. I have spent several hours figuring out why block scalars are flagged as errors in the Yaml files. JSON schema is not identifying values as strings when working with the Intrinsic function.

[2022-07-28 17:46] #202 closed

[2022-07-28 17:51] kddejong commented on #199
We have this in now. There may be ways to improve it but those are future issues.

[2022-07-28 17:51] #199 closed

[2022-07-28 17:52] kddejong commented on #214
Agreed. I'm working on a better way to integrate into the YAML Language server that I believe will resolve this.

[2022-07-28 17:57] kddejong commented on #97
I'm working on a new way to include the yaml language server that should resolve these issues.  its a bigger rewrite to the plugin but should allow us to completely decouple from the vscode-yaml extension.

[2022-08-06 18:19] kddejong opened #229 "Seperate out the client and server packages and publish as appropriate"
I want to separate out the language server as a separate package from the server.

This will allow people to use just the language server portion of this code. By creating it as another package we can publish it into NPM and people can consume it for other IDEs more easily.

[2022-08-17 15:42] kddejong commented on #214
In the newest version we no longer depend on `vscode-yaml` extension.  We have instead integrated `yaml-language-server` into the service side of this plugin.  This should resolve this issue.  Please let me know if you are continuing to have issues.

[2022-08-17 15:42] #214 closed

[2022-08-17 15:43] kddejong commented on #97
We no longer require `vscode-yaml` and this should be resolved at this point.

[2022-08-17 15:43] #97 closed

[2022-08-18 21:29] kddejong commented on #213
Updated.  We have moved the tag log away from configuring `yaml.customTags` as we no longer require `vscode-yaml` extension.

[2022-08-18 21:29] #213 closed

[2022-08-19 15:10] motdde commented on #97
Thanks @kddejong

[2022-08-29 21:05] ralish commented on #214
Great work, thanks @kddejong.

[2022-08-29 21:15] ralish commented on #213
Thanks @kddejong!

[2022-09-06 04:15] dead-claudia commented on #68
I ran into this today with it picking up my local `package.json` (an exceptionally common Node config file - I shouldn't need to explain its significance), and its attempt to format the file ended up breaking it.

I decided to simply disable format on paste for JSON files specifically, as this isn't the only formatter that's given me grief with files of that format.

[2022-09-06 04:30] PatMyron commented on #68
@dead-claudia as far as I'm aware, the `cfn-lint` extension does not currently format any files, any chance another extension is causing that formatting on paste?

[2022-09-06 20:02] kddejong commented on #68
@sgtoj  the current version of the plugin will only validate against CloudFormation templates. It no longer overrides the settings of `redhat.vscode-yaml`

@dead-claudia I will look into it

[2022-09-06 20:21] dead-claudia commented on #68
@kddejong I normally use YAML exclusively for CFN configs anyways, so it wasn't all that painful to just disable.

@PatMyron Nothing else shows up in my list of JSON formatters when I ran "Format document with...", and it's extremely unlikely this is being caused by any other extension.

[2022-09-06 20:26] kddejong commented on #68
Looking into better logic on the formatting functionality now.

Agreed let me see what it would look like to add some file pattern matching

[2022-09-09 13:47] ryancabanas opened #233 "How do I ignore certain non-CloudFormation template YAML files from being linted?"
In my project I have an OpenAPI file at `/docs/openapi.yaml` and CloudFormation Linter keeps trying to lint the file.  I keep getting an error box in the lower right corner like this.

![image](https://user-images.githubusercontent.com/27093222/189364951-a0bf2b27-12c7-4103-8daf-4c31ca032d2e.png)

When I click the "Go to output" button, the error says, "Don't believe this is a CloudFormation templa

[2022-09-09 14:28] kddejong commented on #233
I'll look into this today and try to get this resolved.

[2022-09-09 15:49] #233 closed

[2022-09-09 19:18] ryancabanas commented on #233
Thanks!

[2022-09-18 03:40] nagarjunr opened #236 "RDS Oracle Engine Type Error"
I tried to create an oracle rds instance with engine type "oracle-ee-cdb". When I valide the template using cfn-lint, it gives me the following error:

When I cross-check with AWS documentation, it is mentioned that oracle-ee-cdb is a valid engine type. I appears that the cfn-lint package is not updated with the available engine type.

[2022-09-26 10:43] gmergulhao commented on #198
also running into this issue, which causes 100% ram utilization since cfn-lint runs for 100+ templates.
same behaviour with pip installed cfn-lint versions 0.50, 0.60, 0.63, 0.65
running python 3.10 x64

[2022-09-26 16:04] kddejong commented on #198
I may have to add some debugging output to get more details but can you provide me the abbreviated Output from the plugin? We should see the execution for every file that was opened or saved.  We should only see executions for the files that are open.

![image](https://user-images.githubusercontent.com/36457093/192325784-3fda32ff-64ee-41ed-bce2-2c80ddcfd86d.png)

[2022-09-29 07:59] gberdzenishvili opened #238 "Graph preview not working on v0.23"
Hi, thanks for the awesome extension!

I noticed that graph preview is no longer working after upgrading to v0.23. I downgraded to v0.22 to double check - it worked.
How it looks: I click preview button and then nothing happens - but .dot file is generated and not removed.

[2022-09-29 14:52] kddejong commented on #238
Thanks. I'll take a look.

[2022-10-07 17:22] sboonyakiatACR opened #239 "cfn-lint detect "InstanceMetadataServiceConfiguration" as invalid property for AWS::SageMaker:NotebookInstance"
The linter classified "InstanceMetadataServiceConfiguration" as E3002: Invalid Property Resources/xxx/Properties/InstanceMetadataServiceConfiguration.  It is a valid property and the CF template ran successfully.

[2022-10-07 17:31] LegacyMindset opened #240 "High CPU usage with large number of python processes"
Devices CPU usage spikes when working on a template.  I noticed a larger number of python processes are run in quick succession which is using the CPU.  I have no issues if I disable the extension.  I've attached a screen shot of resource monitor.
Environment
- Windows 10
- VS Code 1.71.2
- Python 3.10.1
- cfn-lint 0.66.1

Actions: Editing of a Cloudformation template with the linter extension ena

[2022-10-07 17:41] PatMyron commented on #239
Which version of `cfn-lint`? Latest version looks like it has that property

[2022-10-07 17:42] sboonyakiatACR commented on #239
0.23.2

From: Pat Myron ***@***.***>
Sent: Friday, October 7, 2022 1:41 PM
To: aws-cloudformation/cfn-lint-visual-studio-code ***@***.***>
Cc: Boonyakiat, Sarachai ***@***.***>; Author ***@***.***>
Subject: [External] Re: [aws-cloudformation/cfn-lint-visual-studio-code] cfn-lint detect "InstanceMetadataServiceConfiguration" as invalid property for AWS::SageMaker:NotebookInstance (Issue #239)

CAUT

[2022-10-07 19:39] PatMyron commented on #239
That's likely the extension version, `cfn-lint` is installed and managed separately from the extension and needs to be kept up-to-date separately

[2022-10-26 23:22] #238 closed

[2022-10-26 23:43] kddejong commented on #239
I'm guessing you meant `AWS::SageMaker::NotebookInstance` not `AWS::SageMaker:NotebookInstance`

Additionally I agree `InstanceMetadataServiceConfiguration` appears to be missing from the spec completely.

[2022-10-26 23:46] kddejong commented on #239
Converting this issue to the cfn-lint repository for tracking.

[2022-10-26 23:46] #239 closed

[2022-11-07 17:31] kddejong commented on #240
Been trying to replicate this but to no success.  There was a recent change that prevented us linting on every change to a file (only on save/open).

[2022-11-13 18:17] kddejong opened #249 "Add hover/autocomplete for intrinsic functions"
Currently intrinsic functions (Ref, GetAtt, etc.) are supported but we don't get additional language server details from them.

As an example we don't get autocomplete of a Ref to cover parameters and resources.  Additionally when I hover on an intrinsic function I want details about I'm referring to.

- [ ] Ref
- [ ] GetAtt
- [ ] FindInMap
- [ ] If